.new {
  width: 100%;
  display: flex;

  .newContainer {
    flex: 6;
      h1{
        color: gray;
        text-align: center;
        margin-top: 20px;
      }

      .mainContent{
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
          box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
          padding: 50px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 50px;
          margin: 60px 150px;
          input{
            width: 700px;
            height: 30px;
            padding: 10px;  
          }
    
          textarea{
            margin-top: 50px;
            width: 700px;
            height: 300px;
            padding: 10px;
          }

          .writeSubmit {
            border: none;
            padding: 10px 20px;
            background-color: #0071c2;
            color: white;
            font-weight: bold;
            cursor: pointer;
            border-radius: 5px;
          }
    }
  }
}
